img{
  width: 30%;
  height: 30%;
  float: middle;
}
#s1,#s2,#s3,#s4{
      width: 4%;
      height: 4%;
      margin-top:1px;
  }

table {
  border: none;
  width: 85%;
  text-align: left;
}

body{ 
  color: black;
  text-align: center;
}

li{
  white-space: pre;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

