#mySite
{
  margin:0 auto;
  width:1200px;
}


#header{
padding:20px 20px 20px 30px;
background-color:#D0D0D0;
}

#header h1{ margin:0;}

#menu{
width:1200px;
background-color:#A0A0A0;
padding:1px;
margin:0px;
}

#menu ul{ list-style-type:none; margin:0;padding:10px;}
#menu ul li{display:inline; width:120px;}
#menu li a {
	
    text-decoration:none;  
     padding:10px;     
     color:#fff; 
     border-right: 1px solid #fff; }

#menu a:hover{
   background-color:#C0C0C0;
}

#content{
width:1200px;
padding-top:10px;
display:inline;
}

#content h3,h4 {margin:0;}

#leftcontent{
width:500px;
float:left;
}

#rightcontent{
width:600px;
padding:10px;
float:right;
}

#footer{
clear:both;
background-color:#666;
color:white;
padding:10px;
text-align:right;
}

tml,
    body {
      position: relative;
      height: 100%;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }

.swiper-slide{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      align-items: center;
}
img{
  width: 400px;
  height:400px;
}

@media only screen and (min-width:100px) and (max-width:500px){
  img{
  width: 200px;
  height:200px;
}
}