

#Item1{
width:360px;
height:520px;
float:right;
margin:2px;
}


#Item1 img{
width:350px;
height:520px;
border:2px solid gray;
}

#all{
width:90px;
height:520px;
padding-Top:10px;
padding-left:10px;
float:left;
display:inline;
}


#c1,#c2,#c3,#c4{
width:80px;
height:120px;
margin-top:5px;
}

#all img{
border:1px solid gray;
width:80px;
height:120px;
}

#price
{
  font:16px "Broadway";
  
}

#rightcontent h2{
  font-family:"cooper black";
}

#description{
margin-top:20px;
border: 2px solid gray;
padding:10px;
}

#description h3{
color:gray;
}

#description li
{
padding:3px;
}

