#content #order{
width:1200px;
padding:30px;
display:inline;
}

h2{
	text-align:center;
}

table td{
	padding:0px 10px 0px 10px;
}

#orderlist{
	width:550px;
	float:left;
}

fieldset{
		border:2px solid gray;
		padding:20px;
}
legend{
		font-weight:bolder;
		padding-left:10px;
		padding-right:10px;
}
#custInfo{
	width:600px;
	float:right;
	padding-bottom:10px;
}

input{
	width:300px;
	height:28px;
	margin:10px;
	border:1px solid #999;
	padding-left:5px;
}

input:hover{
	border:1px solid #282828;
}

select{
	width:300px;
	height:30px;
	margin:10px;
	padding-left:5px;
	border:1px solid #999;
}


#btn{
	width:200px;
	height:30px;
	text-align:center;
	border:2px solid #666;
	font-weight:bolder;
	background-color:#CCC;
	display:
}

#btn:hover{
	color:white;
	background-color:#999;
	border:2px solid #666;
	font-weight:bolder;
}

#showOrder{
	color:#F00;
	font-weight:bold;
}

#result{
	padding:30px;	
}

#resultTable tr td{
	padding:15px;
	background-color:#888;
	color:#FFF;
	width:500px;
	border-collapse:collapse;
}

#resultTable #titleName{
	width:150px;
	background-color:#888;
}

#us{
	padding:50px;
	vertical-align:center;
	height:300px;
}