span{ background-color:white;
	padding:25px;}


#menu{width:1300px;
	background-color:#A0A0A0;
	padding:0px;
	margin:0px;}


#menu ul{ list-style-type:none;
	 margin:0;
	 padding:9px;}


#menu ul li{display:inline;
	    width:120px;}


#menu li a{text-decoration:none;
	    font-size:30pt;  
  	   padding:8px;    
    	   color:#404040; 
    	    border-right: 2px solid #C0C0C0; }



font{font-weight: 250;
	font-size: 50px;
	align="right";}


 h1{font-size:22px;
	color:grey;
	background-color:gray;
	text-shadow:#CCCCCC;
	font-family:Copperplate Gothic;}


a{text-decoration:underline;
  color:#C0C0C0;
  font-size:25pt;}

h2{font-size:35px;
	color:black;}
h3{font-size:25px;
 	color:white;
  font-family:Copperplate Gothic;}

body{background-color:light grey;

          background-repeat:none;

          background-attachment:scroll;

          background-position:100% 100%;}


a:hover{border-color:#000000;

        text-decoration:outline;}


p.aa{font-size:25px;
	color:black;
	background-color:white;}
p.bb{font-weight: 300;
	 font-size: 50px; }
	 background-color:green;}

span.a{text-decoration:underlined;

    background-color:#F0F0F0;

    font-weight:900;}

#footer{text-color:grey;
	background-color:#666666;
	font-size:28px;}

#price{font:16px "Broadway";}

#description{border: 2px solid gray;
		padding:10px;}

#description h3{color:gray;}

#description ul{list-style-type:none;
		align:left;
		mrgin:0;}
#description li{padding:2px;
		margin:0px;}