


#change img{width:640px;

		height:360px;
		
border:2px solid gray;

		float:left;
}


#convert1 img{width:640px;

		height:390px;
		
border:2px solid gray;

		float:left;
}

#convert2 img{width:640px;

	height:390px;
	
border:2px solid gray;

	float:left;
}
#convert3 img{width:640px;

	height:390px;
	
border:2px solid gray;

	float:left;
}
#all{width:90px;

	height:51px;

	padding-Top:10px;
	
padding-left:10px;
	float:left;
	
display:inline;
}


#s1,#s2,#s3,#s4,#s5,#s6,#s7,#s8,#s9,#s10,
#s11,#s12,#s13,#s14{
	width:90px;
	height:51px;
	margin-top:1px;
}

#all img{
border:1px solid gray;
	
width:90px;
height:51px;
}

table{border-style:none;}
#h img{width:350;
    height:250px;}
#i img{width:410px;
    height:250px;}