﻿<DOCTYPE HTML>



<head>

<title>Dji</title>




<link rel="stylesheet" type="text/css" href="heading.css">

<link rel="stylesheet" type="text/css" href="imgstyle.css">


<img src="img/i/i1/i1HD.jpg" width="320" height="210" />

</head>

<table>
<tr>
<th colspan="2">

<p class="bb">

<center>

	 <h1>
 
	
  <span>

   <font color="grey">DJI</font>
  </span>
<font color="white">Inspire Series </font>

   
	</h1>
</center>

<tr>
</th>
</tr>
<th colspan="2">
<div id="menu">

  	<ul class="aa">

     	<li> <a href=products.html> Products </a> </li>

    	 <li> <a href=phantom.html>Phantom Series</a> </li>

     	<li> <a href=mavic.html> Mavic Series</a> </li>

	</ul>

	</div>
</th>


</tr>


<tr>


        <th>
<a href=i1.html>
<img src="img/i/i1/i1-0.jpg" width="520" height="390"></a>
</th>

   	<th>
<a href=i2.html>
<img src="img/i/i2/i2-0.jpg" width="520" height="390"></a>

</th>
 </tr>
 

<tr>


	<th><a href=i1.html>Inspire 1</a></th>

   	<th><a href=i2.html>Inspire 2</a></th>


 </tr>


<tr>

	<td><video width="640" height="360" controls>


<source src="vid/i1.mp4" type="video/mp4">


</video>
</td>

	<td><video width="640" height="360" controls>


<source src="vid/i2.mp4" type="video/mp4">


</video></td>


</tr>

<tr>
<th colspan="2">
<center>
<img src="img/logo/say.jpg" align="left" width="220" height="130" />

<img src="img/logo/say.jpg" align="right" width="220" height="130"/>
<center>
<font color="blue">
DJI <br/>
 </t> The Future of Possible</font>

  
</center>

</th>
</tr>
<tr>
<th colspan="2">

      
<div id="menu">

  		<ul class="aa">

    	 	<li> <a href=dji.html> Home </a> </li>

     		<li> <a href=products.html> Products </a> </li>

     		<li> <a href=myan.html> Dji Myanmar </a> </li>

    	 	<li> <a href=support.html> Support</a> </li>

     		<li> <a href=contactus.html> Contact us </a> </li>

		</ul>

		</div> <!-- end of Menu-->
<br />


	</th>

</tr>
<tr>
<th colspan="2">
<div id="footer">
<h3 align="left">Designed<br /> 
<center>by</center> 
<h3 align="right">2CT-1 & 2CT-11 & 2CT-16</h3>
</div></th>
</tr>
</table>
</form>


</script>

</body>



</html>