<DOCTYPE HTML>


<head>

<title>Dji</title>



<link rel="stylesheet" type="text/css" href="heading.css">
<link rel="stylesheet" type="text/css" href="imgstyle.css">
<img src="img/m/maviclogoFhD.jpg" width=1300 height=510 />
</head>
<table>
<tr>
<th colspan=2>
<p class="bb">
<center>
	 <h1> 
	
  <span>
   <font color="grey">DJI</font>
  </span><font color="white">Mavic Series </font>
   
	</h1>
	<br />
</center>
</th>
</tr>
<tr>
<th colspan="2">
<div id="menu">
  	<ul class="aa">
     	<li> <a href=products.html> Products </a> </li>
    	 <li> <a href=phantom.html>Phantom Series</a> </li>
     	<li> <a href=inspire.html> Inspire Series</a> </li>
	</ul>
	</div> <!-- end of Menu-->
</th>
</tr>
<tr>
   	<th colspan="2">
<a href=m.html> 
<img src="img/m/mav.jpg" width=600 height="360"></a><br />
<a href=m.html>Mavic Pro</a></th>
 </p></tr>
<br />
<tr>

<p>


	<th><video width="640" height="360" controls>


<source src="vid/mavic.mp4" type="video/mp4">

</video></th>

	<th><video width="640" height="360" controls>


<source src="vid/mp.mp4" type="video/mp4">

</video></th>


</tr>



</p>
<tr>
<th colspan=2>
<center>
<a href="https://www.youtube.com/user/djiinnovations">Click here to Watch More</a>
<br /><br />
</th>
</tr>
<tr>
<th colspan="2">
<img src="img/logo/say.jpg" align="left"  width=160 height=110 />

<img src="img/logo/say.jpg" align="right"  width=160 height=110 />
<font color="blue">

DJI <br/> </t> The Future of Possible</font>
  
</center>
</th>
</tr>

</p>
</div>
<tr>
<th colspan="2">

      
<div id="menu">

  		<ul class="aa">

    	 	<li> <a href=dji.html> Home </a> </li>

     		<li> <a href=products.html> Products </a> </li>

     		<li> <a href=myan.html> Dji Myanmar </a> </li>

    	 	<li> <a href=support.html> Support</a> </li>

     		<li> <a href=contactus.html> Contact us </a> </li>

		</ul>

		</div> <!-- end of Menu-->
<br />


	</th>

</tr>
<tr>
<th colspan="2">
<div id="footer">
<h3 align="left">Designed<br /> 
<center>by</center>
 <h3 align="right">2CT-1 & 2CT-11 & 2CT-16</h3>
</div></th>
</tr>
</table>
</form>

</script>

</html>

