﻿<DOCTYPE HTML>



<head>

<title>Dji</title>




<link rel="stylesheet" type="text/css" href="heading.css">

<link rel="stylesheet" type="text/css" href="imgstyle.css">
<img src="img/p/p3s/Ph3Standard.jpg" width=320 height=195 />

</head>

<table>
<tr>
<th colspan="2">
<p class="bb">

<center>
	 <h1>
 
	
  <span>
   <font color="grey">DJI</font>
  </span>
<font color="white">Phantom Series </font>

   
	</h1>

	</center>

</th>
</tr>
<tr>
<th colspan="2">
<div id="menu">

  	<ul class="aa">

     	<li> <a href=products.html> Products </a> </li>

    	 <li> <a href=mavic.html>Mavic Series</a> </li>

     	<li> <a href=inspire.html> Inspire Series</a> </li>

	</ul>
	</div> <!-- end of Menu-->

</th>

</tr>


<tr>


        <th><a href=p1.html><img src="img/p/p1/p1.png" width="600" height="320"></a></th>

   	<th><a href=p2.html><img src="img/p/p2/p2.png" width="600" height="360"></a></th>
 </tr> 


<tr>

	<th><a href=p1.html><span>Phantom 1</span></a></th>

   	<th><a href=p2.html><span>Phantom 2</span></a>
</th>

 </tr>
 

<tr>


        <th><a href=p3s.html><img src="img/p/p3s/Ph3Standard.jpg" width="640" height="390"></a></th>

   	<th><a href=p3a.html><img src="img/p/p3a/P3Avanfview.jpg" width="640" height="390"></a></th>
 </tr>
 

<tr>


	<th><a href=p3s.html><span>Phantom 3 Standard</span></a></th>

   	<th><a href=p3a.html><span>Phantom 3 Advanced</span></a></th>


 </tr>
 
<tr>


        <th><a href=p3p.html><img src="img/p/p3p/Phantom3 pro.png" width="640" height="390"></a></th>

	<th><a href=p34.html><img src="img/p/p34K/p34k.jpg" width="600" height="400"></a></th>
 </tr>
 

<tr>



   	<th><a href=p3p.html><span>Phantom 3 Professional</span></a></th>


   	<th><a href=p34.html><span>Phantom 3 4K</span></a></th>


 </tr>
 
<tr>

        <th><a href=p4.html><img src="img/p/p4/p4.jpg" width="640" height="390"></a></th>

	<th><a href=p4p.html><img src="img/p/p4p/p4p2.jpg" width="640" height="390"></a></th>

</tr>
 
<tr>

	<th><a href=p4.html><span>Phantom 4 </span></a></th>


   	<th><a href=p4p.html><span>Phantom 4 Professional</span></a></th>


 </tr>
 

<tr>

<th>
<video width="640" height="360" controls>


<source src="vid/DJI Phantom 1 Drone Reel- 'Eyes In The Sky'_HD.mp4" type="video/mp4">


</video>
<br />Phantom 1
</th>

<th><video width="640" height="360" controls>


<source src="vid/p2vp.mp4" type="video/mp4">


</video>
<br />Phantom 2
</th>


</tr>

<tr>

<th>
<video width="640" height="360" controls>


<source src="vid/p3A&P.mp4" type="video/mp4">


</video>
<br />Phantom 3Advanced & Professional
</th>

<th><video width="640" height="360" controls>


<source src="vid/p4.mp4" type="video/mp4">


</video>
<br />Phantom 4
</th>


</tr>

<tr>

<th colspan="2">
<center>


<a href="https://www.youtube.com/user/djiinnovations">Click here to Watch More</a>

<br /><br />
<th>

<tr>
<th colspan="2">
<center>
<img src="img/logo/say.jpg" align="left" width="220" height="130" />

<img src="img/logo/say.jpg" align="right" width="220" height="130"/>
<center>
<font color="blue">
DJI <br/>
 </t> The Future of Possible</font>

  
</center>

</th>
</tr>
<tr>
<th colspan="2">

      
<div id="menu">

  		<ul class="aa">

    	 	<li> <a href=dji.html> Home </a> </li>

     		<li> <a href=products.html> Products </a> </li>

     		<li> <a href=myan.html> Dji Myanmar </a> </li>
    	 	<li> <a href=support.html> Support</a> </li>

     		<li> <a href=contactus.html> Contact us </a> </li>

		</ul>

		</div> <!-- end of Menu-->
<br />


	</th>

</tr>
<tr>
<th colspan="3">
<div id="footer">
<h3 align="left">Designed<br /> 
<center>by</center> 
<h3 align="right">2CT-1 & 2CT-11 & 2CT-16</h3>
</div></th>
</tr>
</table>
</form>


</script>

</body>



</html>